:root {
  --cursor-color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#charList {
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none ;
}

.typing {
  border-right: 1px solid var(--cursor-color); 
  overflow: hidden;
  white-space: nowrap;
  animation:
    blinking 1s steps(1, end) infinite;
}

.App-link {
  color: #61dafb;
}

.flag {
  display: flex;
  flex-direction: row;
}

ul {
  padding-inline-start: 0; 
}

@keyframes blinking {
  0% { border-color: transparent }
  50% { border-color: var(--cursor-color)}
  100% { border-color: transparent }
}